.container-card {
  /* border: orange 1px solid; */
}

.cards {
  /* border: black 3px solid; */
  width: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  /* border: pink 1px solid; */
  width: 200px;
  height: 200px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

.collectionName {
  border: lightseagreen 1px solid;
  padding-bottom: 5px;
  display: flex;
  width: 200px;
  flex-grow: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.collectionArtist {
  border: lightseagreen 1px solid;
  padding-bottom: 5px;
  display: flex;
  width: 200px;
  flex-grow: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: black;
}

.imgAlbum {
border: lightskyblue 1px solid;
width: 200px;
height: 160px;
flex-grow: 1;
}